<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Liste des points de réoclte de dons en Algérie">
        <meta name="keywords" content="solidarité, algérie, alger, tizi ouzou, kabylie, feu, corona, charité, sos, don, incendies">

        <link rel="icon" href="{{ asset('favicon.png','images') }}" />
        <title>DZunity</title>
        <link href="http://fonts.cdnfonts.com/css/alienated" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://fr.allfont.net/allfont.css?fonts=league-spartan" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <title>{% block title %} Welcome!{% endblock %}</title>



        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-dark " style="background-color: #146c43">
        <div class="container-fluid" >

            <a class="navbar-brand" href="{{ path('home')}}">DzUnity</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('users.list') }}">Répertoire</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.panel') }}">Admin</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

        {% block body %}

        {% endblock %}
    </body>
</html>
